<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mvc:annotation-driven />
	<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**" />
	
	
	<!-- RequestDispatcher. forward("member/login/login.jsp") -->
	<bean id="viewResolver"
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />		
	</bean>
	
	<bean id="multipartResolver"
			class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600"/>
		<property name="defaultEncoding" value="UTF-8"/>		
	</bean>
	
	
	<bean id="validator"
			class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

	<bean id="articleController"
			class="com.ktds.ssms.article.web.ArticleController">
		<property name="articleService" ref="articleService"/>
	</bean>
	
	<bean id="memberController"
			class="com.ktds.ssms.member.web.MemberController">
			<property name="memberService" ref="memberService" />
	</bean>
	
	<bean id="mobileController"
			class="com.ktds.ssms.mobile.web.MobileController">
			<property name="mobileService" ref="mobileService" />
	</bean>

</beans>
